* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-wrap: break-word;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #6d7f97;
    background-color: #ecf2f8;
}

main {
    display: flex;
    flex-direction: column;
    width: 15.6rem;
    height: 24.2rem;
    background-color: #ffffff;
    border-radius: 0.6em;
    box-shadow: 0 0.5rem 1.5rem 0.2rem rgba(76, 76, 122, 0.2);

}
h1 {
    font-size: 1em;
    font-weight: 700;
    color: #48556a;
    padding-bottom: 0.8rem;
}
h2{
    font-size: 0.7em;
    font-weight: 700;
    color: #48556a;
}
p {
    font-size: 0.8em;
}
.drawer {
    width: 15.6rem;
    height: 10rem;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.content {
    margin: 1.5rem;
}
.down-content {
    display: flex;
    padding-top: 1.5rem;
    justify-content: space-between;
}
#profile {
    display: flex;
}
#profile.hidden {
    visibility: hidden;
}
.dp {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 1rem;
}
#name {
    margin-left: 1em;
    align-content: center;
}

#share-icon {
    width: 0.6rem;
    height: 0.6rem;
    padding: 0.5em;
    align-self: center;
    box-sizing: content-box;
    background-color:#ecf2f8;
    border-radius: 2rem;
    fill: #ffffff;
}

#share {
    visibility: hidden;
}
#share.visible {
    visibility: visible;
    display: flex;
    width: 15.6rem;
    height: 3.5rem;
    padding: 1.5rem;
    background-color: hsl(217, 19%, 35%);
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.4em;
    margin-left: -1.5rem;
    margin-top: -2.6rem;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    align-items: center;
    color: #9eafc2;
}

.socials {
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 1.2em;
}

@media (min-width: 768px ) {

    main {
    display: flex;
    flex-direction: row;
    width: 34.5rem;
    height: 13rem;
    }
    h1{
        font-size: 1.13em;
    }
    .drawer {
    width: 14.5rem;
    height: 13rem;
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    border-top-right-radius: 0;
    }
    .down-content{
        padding-top: 1rem;
    }
    #share.visible {
    visibility: visible;
    display: flex;
    position: absolute;
    width: 8rem;
    height: 1.7rem;
    padding: 1rem;
    justify-content: center;
    background-color: #48556a;
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 0.4em;
    margin-top: -5rem;
    margin-right: -3rem;
    border-radius: 0.6em;
    align-items: center;
    color: #9eafc2;
    justify-self: end;
    }
    #share::before{
        content: "";
        position: absolute;
        width:0;
        height:0;
        border-left:0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-top: 1rem solid #48556a;
        margin-top:2.5rem;
    }
    .socials {
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 1.2em;
    }
    #profile.hidden {
    visibility: visible;
}
}